.scrollContainer {
  height: 500px;
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 20px auto;
  overflow: scroll;
}

.card {
  height: 220px;
  width: 240px;
  margin: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
